<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    
    <header>
        <h1 >Práctica del tema 2</h1>
        <p>Bienvenido a mi sitio web en el cual aplicamos Accesibilidad<p>
    </header>

    <nav > 
         <ul class="nav">
            <a href="../index.html">Inicio</a>
            <a href="acerdaDe.html">Acerca de</a>
            <a href="contacto.html">Contacto</a>
        </ul>
    </nav>

    <main>
    
        <section>
         <img src="../assets/Lons.jpg" alt="Fernando Alonso">
            <h1>Espíritu de Samurái</h1> 
        </section>

        
    </main>

    <footer>
        <p> Correo electrónico: alex@gmail.es</p>
        <p>Teléfono: 689456723</p>
    </footer>


</body>
</html>